html, body, #map-canvas, #wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family:'Open Sans',Arial,Helvetica,Sans-Serif;
}

#map-canvas {
  background: transparent no-repeat 1 1;  
  float: left;
}